<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:hasCode="false"
        android:label="CorePatch Domain Fixture">
        <activity
            android:name=".LinkActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="corepatch.invalid" />
            </intent-filter>
        </activity>
    </application>
</manifest>
